name: Validate with hassfest

on:
  pull_request:
  push:
    branches: master

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "home-assistant/actions/hassfest@master"