on:
  push:
    branches:
         - master

permissions:
    contents: write
    pull-requests: read

jobs:
    release-on-push:
        runs-on: ubuntu-latest
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
        - uses: rymndhng/release-on-push-action@master
          with:
            bump_version_scheme: patch